{% extends 'provider/home.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="content-wrapper">
    <h3>Update Post</h3>
    <hr>
            <form novalidate class="card form-control-lg" method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-info" type="submit">Update</button><br />
                <a class="btn btn-info" href="/challenger/">Cancel</a><br />
              </form><br />
</div>
{% endblock %}