{% extends 'provider/home.html' %}

{% block content %}
<div class="content-wrapper">
    <div style="margin: 5% 0%">
        <div class="form-control">
            <h2>Are you sure you want to delete the "<b>{{ challenge.title }}</b>" challenge?</h2>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-danger" type="submit">YES</button><button style="margin: 0% 1%" class="btn btn-outline-primary" type="submit"><a href="/challenger/">NO</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}