{% extends 'provider/home.html' %}

{% block content %}
<div class="content-wrapper">
  <div style="margin:5% 0%">
      <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="../../static/img/sliders_techassist-1200x300.png" width="1200" height="200" alt="First slide">
          </div><br />
        </div>
      {% for challenge in challenges %}
      {% if user.provider or user == challenge.author %}
      <div style="margin:0% 0%" class="form-control">
            <div class="card-body d-flex flex-column align-items-start">
              <h3><a href="{% url 'challenge_detail' challenge.pk %}" class="d-inline-block mb-2 text-primary">{{ challenge.title }}</a></h3>
              <h5 class="mb-0">
                <a class="text-dark" href="{% url 'challenge_category' challenge.category.pk %}">{{ challenge.category }}</a>
              </h5>
              <div class="mb-1 text-muted">{{ challenge.created_at }}</div><br />
              <p class="card-text mb-auto">{{ challenge.story | linebreaksbr }}</p>
            </div>
          <p style="text-align: right;">{% if challenge.status == 'Open' %}<button style="border-radius: 50%" class="btn btn-primary" disabled> {{ challenge.status }}</button>{% else %}<button style="border-radius: 50%" class="btn btn-danger" disabled> {{ challenge.status }}</button>{% endif %} | Closing date: {{ challenge.closing }} | by: {{ challenge.author }}</p>
        </div><br />
        {% endif %}
        {% endfor %}
  <div class="pagination">
    <span class="form-control">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>
</div>
</div>
{% endblock %}