{% extends 'provider/home.html' %}

{% block content %}
<div class="content-wrapper">
        <div class="form-control">
        <h2>&#9997 Manage</h2>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Created date</th>
                <th>Modified date</th>
                <th style="text-align:center" colspan="3">Action</th>
                <th>challenge dates</th>
            </tr>
            {% for challenge in challenges %}
                <tr>
                    {% if user.is_authenticated and user == challenge.author %}<td>{{ challenge.title }}</td>
                    <td>{{ challenge.created_at }}</td>
                    <td>{{ challenge.updated_at }}</td>
                    <td>{{ challenge.closing_date }}</td>
                    <td><a href="{% url 'challenge_update' challenge.pk %}">&#9998 Update</a></td>
                    <td><a href="{% url 'challenge_delete' challenge.pk %}">&#128465 Delete</a></td>
                    <td colspan="6"><a href="{% url 'challenges_dates' challenge.pk %}">dates</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            <th style="text-align: center" colspan="7"><a href="/challenge/add/">Create New Post</a></th>
        </table>
    </div>
    <hr class="featurette-divider">

            <div class="form-control">
            <h2>DATES</h2>
            <table class="table">
                <tr>
                    <th>Challenge</th>
                    <th>Entry</th>
                    <th>Entry Validation</th>
                    <th>Scoring</th>
                    <th>Faciliated Judging</th>
                    <th>Announce Finalists</th>
                    <th>Presentation</th>
                    <th>Winners Announcement</th>
                </tr>
                {% for date in dates %}
                    <tr>
                        <td>{{ date.challenge }}</td>
                        <td>{{ date.entry }}</td>
                        <td>{{ date.entry_validation }}</td>
                        <td>{{ date.scoring }}</td>
                        <td>{{ date.faciliated_judging }}</td>
                        <td>{{ date.announce_finalists }}</td>
                        <td>{{ date.presentation }}</td>
                        <td>{{ date.winners_announcement }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <hr class="featurette-divider">

    <div class="form-control">
            <h2>&#9997 Response</h2>
        <table class="table">
                <tr>
                    <th>Provider</th>
                    <th>Challenge</th>
                    <th colspan="3">Date</th>
                </tr>
                {% for opt in comments %}
                {% if user.is_authenticated and user == opt.challenge.author %}
                    <tr>
                        {% if opt.options == 'Accept' or opt.options == 'Decline' or opt.options == 'Ignore' %}
                        <td>{{ opt.by }}</td>
                        <td>{{ opt.challenge }}</td>
                        <td>{{ opt.options }}</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
        </table>
    </div>
</div>
{% endblock %}