{% extends 'provider/home.html' %}

{% block content %}
<div class="content-wrapper">
  <div style="margin:5% 0%">
    <h2>{{ category.name }} category</h2><br />
      {% for challenge in challenge_list %}
      <div style="margin:0% 0%" class="form-control">
            <div class="card-body d-flex flex-column align-items-start">
              <h3><a href="{% url 'challenge_detail' challenge.pk %}" class="d-inline-block mb-2 text-primary">{{ challenge.title }}</a></h3>
              <div class="mb-1 text-muted">{{ challenge.created_at }}</div><br />
              <p class="card-text mb-auto">{{ challenge.story }}</p>
            </div>
          <p style="text-align: right;">{% if challenge.status == 'Open' %}<button style="border-radius: 50%" class="btn btn-primary" disabled> {{ challenge.status }}</button>{% else %}<button style="border-radius: 50%" class="btn btn-danger" disabled> {{ challenge.status }}</button>{% endif %} | Closing date: {{ challenge.closing }} | by: {{ challenge.author }}</p>
        </div><br />
        {% endfor %}
  <div class="pagination">
    <span class="form-control">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>
</div>
</div>
{% endblock %}