{% extends 'solver/home.html' %}

{% block content %}
<div class="content-wrapper">
    <form novalidate class="form-control" enctype="multipart/form-data" action="/change_password/" method="POST">
            <h2 class="h3 mb-3 font-weight-bold" style="margin:0% 10%">Change Password</h2><br />
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}<br />
                {{ field }}<br />
                {% if field.help_text %}
                <small style="color: grey; font-size:10px" >{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <small style="color: red; font-size:10px">{{ error }}</small>
                {% endfor %}
            </p><br />
            {% endfor %}
            <button type="submit" class="btn btn-primary">Change</button>
    </form>
</div>
{% endblock %}