{% extends 'solver/home.html' %}

{% block content %}
<div class="content-wrapper">
        <div class="modal show form-control font-weight-bold" style="display: inline-block" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="Modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="channelModal">Welcome!</h4>
                    </div><br />        
                    <div class="modal-body">
                            <form novalidate class="form-control" method="POST" enctype="multipart/form-data" action="/create/">
                                <h2 class="h3 mb-3 font-weight-bold">Create Profile</h2><br />
                                {% csrf_token %}
                                {% if user.is_authenticated %}
                                <div class="container">{% for field in form %}<br />
                                    {{ field.label_tag }}<br />
                                    {{ field }}<br />
                                    {% if field.help_text %}
                                        <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <small style="color: red">{{ error }}</small>
                                    {% endfor %}
                                    {% for password in filed.help_text %}
                                        <small> help </small>
                                    {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                </div><br />
                                    <button style="margin: 0% 5%" class="btn btn-primary" type="submit">Create</button>
                                </form>
                                <form style="text-align: right;" action="/logout/" method="POST">
                                    {% csrf_token %}<button type="submit" class="btn btn-outline-danger">Cancel</button>
                                  </form>
                    </div>
                </div>
            </div>    
        </div>
    </div>

{% endblock %}