<header class="cd-main-header">
		<h1>ConnexionCenter</h1>

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

		<nav class="cd-nav">
			<ul class="cd-top-nav">
					<li><a href="/home/">Home</a></li>
				<li>
					<form class="form-inline mt-2 mt-md-0">
						<input class="form-control mr-sm-1 form-control-lg" type="text" placeholder="Search..." aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</li>
				{% if user.is_active %}
				<li>
					{% if user.requester %}
					<form action="/requester_profile/">
						<button type="submit" class="btn btn-info">{{ user.requester.company }}</button>
					</form>
					{% elif user.provider %}
					<form action="/provider_profile/">
						<button type="submit" class="btn btn-info">{{ user.provider.company_name }}</button>
					</form>
					{% else %}
					<form action="/first_time/">
						<button type="submit" class="btn btn-info">Create profile</button>
					</form>
					{% endif %}
				</li>
				<li>
					<form action="/logout/">
						<button type="submit" class="btn btn-danger">logout</button>
					</form>
				</li>
				{% else %}
				<li>
					<form action="/login/">
						<button type="submit" class="btn btn-primary">login</button>
					</form>
				</li>
				<li>
					<form action="/register/">
						<button type="submit" class="btn btn-primary">register</button>
					</form>
				</li>
				{% endif %}
			</ul>
		</nav>
	</header>
{% if user.is_active %}
	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<ul>
				<li class="cd-label"><img src="https://png.icons8.com/ultraviolet/40/000000/user-group-man-man.png" width="20"> User</li>
				<li class="has-children notifications active">
					{% if user.requester%}
					<a href="/challenger/"><img src="https://png.icons8.com/dusk/40/000000/dashboard.png" width="20"> Dashboard</a>
					{% endif %}
					{% if user.provider %}
					<a href="/dashboard/"><img src="https://png.icons8.com/dusk/40/000000/dashboard.png" width="20"> Dashboard</a>
					{% endif %}
					<ul>
						{% if user.provider or user.requester %}
						<li class="has-children comments"><a href="/challenges/"><img src="https://png.icons8.com/ultraviolet/40/000000/test-failed.png" width="20"> Challenges</a></li>
						{% endif %}
						{% if user.provider %}
						<li class="has-children comments"><a href="/requesters/"><img src="https://png.icons8.com/color/40/000000/questions.png" width="20"> Requesters</a></li>
						{% endif %}
						{% if user.requester %}
						<li class="has-children other"><a href="/providers/"><img src="https://png.icons8.com/color/40/000000/answers.png" width="20"> Providers</a></li>
						{% endif %}
					</ul>
				</li>
			</ul>
		</nav>
	</main> <!-- .cd-main-content -->
{% endif %}