{% extends "provider/home.html" %}

{% block content %}
  <div class="content-wrapper">

    <main role="main">

      <div class="album py-5 bg-light">
        <div class="container">
            <div class="carousel-item active">
                <img class="first-slide" src="../../static/img/ideas900x300.jpg" width="900" height="200" alt="First slide">
                <div class="container">
                  <div class="carousel-caption text-left">
                      <h1>ConnexionCenter providers.</h1>
                      <p style="text-align: center">The best providers will give you a best solution.</p>
                      <p style="text-align: center"><b>You already got help!</b></p>
                  </div>
                </div>
              </div>
              <hr class="featurette-divider">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../static/img/1question-marks-300x200.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">This is 1st provider's description.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-info">View</button>
                      </div>
                      <small class="text-muted"><a href="">www.company.co.za</a></small>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../static/img/2Doctor-with-Laptop-300x200.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">This is 2nd provider's description.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-info">View</button>
                      </div>
                      <small class="text-muted"><a href="">www.company.co.za</a></small>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../static/img/3RegTech-Provider-of-the-Year-2-300x200.png" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">This is 3rd provider's description.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-info">View</button>
                      </div>
                      <small class="text-muted"><a href="">www.company.co.za</a></small>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="featurette-divider">
          
            <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../static/img/4Cables-300-x-200.png" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is 4th provider's description.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-info">View</button>
                      </div>
                      <small class="text-muted"><a href="">www.company.co.za</a></small>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../static/img/5Image-01-71-300x200.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">This is 5th provider's description.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-info">View</button>
                      </div>
                      <small class="text-muted"><a href="">www.company.co.za</a></small>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../static/img/6BUSINESS-CAT-PIC-1-300x200.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">This is 6th provider's description.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-info">View</button>
                    </div>
                    <small class="text-muted"><a href="">www.company.co.za</a></small>
                  </div>
                </div>
              </div>
            </div>
            </div>

    </main>
{% endblock %}