{% extends 'provider/home.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="content-wrapper">
        <h2>Update Profile</h2>
        <hr>
            <form novalidate method="POST" class="card form-control-lg" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-info">Create</button><br />
                <a type="submit" class="btn btn-danger" href="/provider/">Cancel</a>
            </form>
</div>
{% endblock %}